
<form [formGroup]="armourForm" (ngSubmit)="Create()">
    <input type="text" name="id" id="id" placeholder="id" formControlName="id">
    <input type="text" name="name" id="name" placeholder="name" formControlName="name">
    <input type="text" name="description" id="description" placeholder="description" formControlName="description">
    <input type="text" name="email" id="email" placeholder="email" formControlName="email">
<!--  <small> indenholder kode du kan bruge til at validerer om email er correct, tjek .ts fil for yderligere information  -->
    <small>
        <div *ngIf="armourForm.get('email')?.invalid && armourForm.get('email')?.touched"> email is incorrect</div>
    </small>
    <input type="text" name="age" id="age" placeholder="age" formControlName="age">
    <!--<button type="submit"(click)="create()">Create</button>-->
    
    
    <button (click)="Create()">Create</button>

</form>
