<!-- <button (click)="getAll()">GetSamurai</button> -->
<form [formGroup]="samuraiForm" action="" (ngSubmit)="Create()">
    <input type="text" name="samuraiName" id="samuraiName" placeholder="name" formControlName="samuraiName">
    <small><div *ngIf="samuraiForm.get('samuraiName')?.invalid && samuraiForm.get('samuraiName')?.touched">
      {{error}}
    </div></small>
    <input type="text" name="description" id="description" placeholder="description" formControlName="description">
    <input type="number" name="age" id="age" placeholder="age" formControlName="age">
    <button type="submit">Create Samurai</button>
  </form>



  <div class="samurai-list-container">
    <!-- Display the list of samurais if there is more then Zero(0)-->
    <div *ngIf="samuraiList.length > 0">
      <h2 class="samuraiList">List of Samurais</h2>
      <div *ngFor="let samurai of samuraiList" class="samurai-item">
        <!-- Samurai information -->
        <table>
          <thead>
              <tr>
                <!--columns for data-->
                  <th class="name">Name</th>
                  <th class="description">Description</th>
                  <th class="age">Age</th>
                  <th class="action">Action</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <!--data for columns-->
                  <td class="name">{{ samurai.samuraiName }}</td>
                  <td class="description">{{ samurai.description }}</td>
                  <td class="age">{{ samurai.age }}</td>
                  <td>
                    <!-- Pass samuraiId to deleteSamurai method -->
                    <button type="button" class="btn-delete" (click)="deleteSamurai(samurai.samuraiId)">Delete</button>
                    <!-- Add Update functionality here -->
                    <button type="submit" class="btn-update">Update</button>
                  </td>
              </tr>
              <!-- Add more rows here -->
          </tbody>
      </table>
      </div>
    </div>
    <!-- Message when there are no samurais -->
