.Top{
    letter-spacing: 25px;
    margin-top: 0;
    padding: 3%;
    background-color: lightgrey;
    font-style: italic;
    font-size: 25px;
    text-align: center;
    font-family: "Slackside One", cursive;
}